---
---

<div class="multiCol">
    <slot/>
</div>

<style>

.multiCol{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

</style>